# This file used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64

tensorflow>=2.15.0
flask>=3.0.0
numpy>=1.26.0
matplotlib>=3.8.0
gunicorn>=21.2.0
Pillow>=10.0.0
